/* Agents component styling */
.agents-container {
  margin: 50px auto;
  padding: 20px;
  max-width: 1200px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 100px;
}

.agents-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #2c3e50;
}
.agents-sub-title{

 font-size: 20px; 
 color: teal;
 
}

.agents-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Show 3 columns */
  gap: 30px;
  justify-items: center;
}

.agent-card {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 350px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.agent-card:hover .agent-image {
  opacity: 0.4;
}

.agent-card:hover .social-icons {
  visibility: visible;
  opacity: 1;
}

.agent-image-container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.agent-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.social-icons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.social-icon {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #3498db;
}

.agent-info {
  padding: 10px;
  background-color: rgb(3, 100, 100);
 
}

.agent-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.agent-title {
  font-size: 1.1rem;
  color: #7f8c8d;
  margin-bottom: 15px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.contact-icon {
  font-size: 1.5rem;
  color: #2c3e50;
  transition: color 0.3s ease;
}

.contact-icon:hover {
  color: #3498db;
}

/* Responsive Design */
@media (max-width: 768px) {
  .agents-grid {
    grid-template-columns: repeat(1, 1fr); /* Show 1 column on smaller screens */
  }

  .agent-card {
    max-width: 90%;
    margin-bottom: 20px;
  }
}
.animate-on-scroll {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.animate-on-scroll.in-view {
  opacity: 1;
  transform: translateY(0);
}


 