/* Agents Component Styles */
.agents-container {
  margin: 30px auto;
  padding: 20px;
  max-width: 1200px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.agents-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #2c3e50;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.agents-sub-title {
  font-size: 20px;
  color: teal;
}

.agents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Flexible grid */
  gap: 30px;
  justify-items: center;
}

.agent-card {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 450px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.agent-card:hover .agent-image {
  opacity: 0.5;
}

.agent-card:hover .social-icons {
  visibility: visible;
  opacity: 1;
}

.agent-image-container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.agent-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.social-icons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.social-icon {
  color: #333;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #3498db;
}

.agent-info {
  padding: 10px;
  background: linear-gradient(135deg, rgba(2, 46, 46, 0.9), rgba(0, 0, 0, 0.8)); /* Stylish gradient */
}

.agent-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.agent-title {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 15px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.contact-icon {
  font-size: 1.5rem;
  color: #2c3e50;
  transition: color 0.3s ease;
}

.contact-icon:hover {
  color: #3498db;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .agents-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust for medium screens */
  }
}

@media (max-width: 768px) {
  .agents-grid {
    grid-template-columns: 1fr; /* Stack the cards in 1 column for small screens */
  }

  .agent-card {
    max-width: 90%;
    margin-bottom: 20px;
  }

  .agent-info {
    padding: 15px;
  }

  .social-icons {
    bottom: 5px; /* Slightly reduce space on smaller screens */
  }
}

/* Animation for Scroll Effects */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.animate-on-scroll.in-view {
  opacity: 1;
  transform: translateY(0);
}
