.real-navbar {
  display: flex;
  justify-content: space-between; /* Space between brand and links */
  align-items: center;
  padding: 20px 30px; 

  background-color: transparent;
  color: #ccc;
  position: fixed; /* Fixed at the top */
  top: 0; /* No space at the top */
  width: 100%; /* Full width */
  height: 100px;
  z-index: 1000; /* Ensure navbar stays on top of other content */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); /* Soft shadow for modern look */
  border-bottom: 0.5px solid white; /* Line at the bottom of the navbar */
  transition: background-color 0.3s ease; /* Smooth background color change on scroll */
}


.navbar-scrolled {
  /* background-color: rgba(255, 255, 255, 0.8);  */
  background-color: rgb(0, 36, 36,0.8);
  color: white; /* Change text color when scrolled */
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 2rem; /* Prominent size */
  font-weight: 700; /* Bold for emphasis */
  margin-right: auto;
  font-family: 'Playfair Display', serif; /* Elegant font for luxury appeal */
  color: white; 
  text-transform: uppercase; /* Professional look */
  letter-spacing: 2px; /* Modern spacing */
  margin-left: 20px;
}

.logo-icon {
  font-size: 3.5rem; /* Icon size matching text */
  margin-right: 12px; /* Spacing between icon and text */
  color: white; /* Unique color to highlight icon */
  animation: bounce 2s infinite ease-in-out; /* Subtle animation for modern feel */
}

/* Optional hover effect for interactivity */
.navbar-brand:hover {
  color: #00e5e5; 
  cursor: pointer;
}

/* Animation for the icon */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px); /* Subtle bounce */
  }
}


.navbar-links {
  list-style: none;
  display: flex;
  justify-content: center; /* Center the links horizontally */
  gap: 60px; /* Adjust gap between links */
  margin: 0;
  flex-grow: 1; /* Allow links to take up remaining space */
}

.navbar-links li {
  margin: 0;
}
.navbar-links a {
  color: inherit;
  text-decoration: none;
  font-size: 1.3rem;
  position: relative; /* This is necessary to position the underline line */
}

.navbar-links a::after {
  content: ''; /* Empty content for the line */
  position: absolute;
  bottom: 0; /* Position the line at the bottom of the link */
  left: 0;
  width: 0; /* Start with width 0 */
  height: 1px; /* Thickness of the line */
  background-color: white; /* Line color */
  transition: width 0.4s ease; /* Animate the width */
}

.navbar-links a:hover::after {
  width: 100%; /* Expand the line to the full width of the link */
}
@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 15px 20px;
  }
}



