

.property-detail {

    margin-top: 150px;
    display: flex;
    gap: 60px;
    margin-left: 200px;
    margin-bottom: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

   
  }
  
  .property-detail h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  .main-property-image{
  

     width: 60%;


  }
  
  .property-images {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 50px;

  
  }
 

  
  .property-images img {
    
        width: 30%; 
        height: auto; 
        margin-bottom: 5px; 
       
      }
      .property-images img:hover {
    
        
        transform: scale(1.1); /* Zoom in effect on image */
        transition: transform 2s ease; 
      }
 
  
  .property-detail h2{
    margin: 10px 0;
    text-align: center;




}
  .property-detail p {
    margin: 10px 0;
    text-align: center;
    
  

  }
  
  .property-detail p {
    font-size: 1.2rem;
  }
  .property-overview {
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-top: 100px;
  }
  
  .property-overview h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .property-overview p {
font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px 0;
  }
  
 
  
  .property-overview .property-details {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .property-overview .property-details p {
    margin: 0;
  }
  
  