.schedule-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    /* background-color: rgb(2, 46, 46); */
   
    height: 90vh;
    margin-top: 50px;
    margin-bottom: 50px;
   
  }
  
  .schedule-row {
    display: flex;
    width: 100%;
   
   
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  }
  
  .schedule-image {
    flex: 1;
    background-color: #e1e1e1;
    
  }
  
  .property-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .schedule-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
  }
  
  .schedule-form h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
    
  }
  
  label {
    font-size: 1.2rem;
    color: #555;
    display: block;
    margin-bottom: 10px;
  }
  
  input.date-picker,
  input[type='text'],
  input[type='email'] {
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 60px;
    border: 1px solid #ccc;
    width: 100%;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .slots-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .time-slot {
    padding: 12px;
    font-size: 1.1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .time-slot:hover,
  .time-slot.selected {
    background-color: black;
  }
  
  .submit-btn {
    width: 40%;
    padding: 15px;
    font-size: 1.3rem;
    background-color: rgb(2, 46, 46);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 250px;
    margin-top: 50px;
  }
  
  .submit-btn:hover {
    background-color: #333;
  }
  
  /* Modal Styling */
  .modal-content {
    text-align: center;
    padding: 20px;
  }
  
  .success-icon {
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
  }
  
  .check-icon {
    font-size: 60px;
  }
  
  .modal-body h3 {
    font-size: 1.8rem;
    color: #333;
  }
  
  .modal-body p {
    color: #555;
    font-size: 1.1rem;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .schedule-row {
      flex-direction: column;
    }
  
    .schedule-form {
      padding: 20px;
    }
  }
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
  }
  
  .animate-on-scroll.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  
  